mypy

flake8
cognitive-complexity
flake8-async
flake8-bugbear
flake8-builtins
flake8-coding
flake8-cognitive-complexity
flake8-datetimez
flake8-debugger
flake8-docstrings
flake8-encodings
flake8-executable
flake8-expression-complexity
flake8-functions
flake8-import-order
flake8-length
flake8-logging-format
flake8-multiline-containers
flake8-no-pep420
flake8-noqa
flake8-pie
flake8-plugin-utils
flake8-polyfill
flake8-return
flake8_simplify
flake8-string-format
mccabe
pep8-naming
pycodestyle
pydocstyle

black
